.moviesList{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 5px 15px;
    justify-content: space-around;
    align-items: flex-start;

}
a{
    text-decoration: none;
    color: black;
}
