.imageAndSiteName img{
    width: 45px;
    height: 45px;
}
.imageAndSiteName{
    display: flex;
    column-gap: 6px;
    justify-content: center;
    align-items: center;
}
.headerWrap{

    background-color: rgba(75, 172, 253, 0.85);
    padding: 0 10%;
    border: 2px solid #010be3;
    position: fixed;
    z-index: 40;
    top: 0;
    width: 80%;
    height: 9vh;
}
.header_items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 1200px;
    margin: 0 auto;
}
.Movies{
    color: gold;
    font-weight: 600;
    font-variant: small-caps;
}
.The{
    font-style: italic;
}
.profile{
    display: flex;
}
.profile img{
    width: 45px;
    height: 45px;
}
.SearchAndDropDown img{
    width: 12px;
}
.SearchAndDropDown{
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.imageAndSiteName p{
    font-size: 26px;
}
.imageAndSiteName img{
    width: 70px;
    height: 70px;
}
.search button{
    background-color: rgba(75, 172, 253, 0.85);
}
.searchInputAndButton{
    display: flex;
    height: 28px;
}
